.mask {
    width: 100%;
    height: 100vh;
    position: relative;
}
.intro-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.mask::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
}
.intro{
    width: 100%;
    height: 100%;
}
.intro .intro-text{
    position :absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.intro .intro-text h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.intro .intro-text p{
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
}
.content .btn {
    margin: 1rem 0.2rem
}
@media screen and (max-width: 1040px){
    .intro .intro-text h1{
        font-size: 3rem;
    }
    .intro .intro-text p{
        font-size: 1.4rem;
    }
}